@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Alfa+Slab+One&family=Changa&family=Cutive+Mono&family=Fira+Code:wght@300&family=Megrim&family=Poppins&family=Share+Tech+Mono&display=swap');

.content-navbar {
    height: 90vh;
    width: 130px;
    position: fixed;
    top: 50%;
    margin-left: -4%;
    transform: translate(-50%, -50%);
    background-color: #E8550F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.logo {
    width: 80%;
    }

.user {
    width: 60%;
    border-radius: 50px;
}
.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #ff7f50;
    color: #fff;
    border-radius: 5px;
    padding: 10px 6px;
    margin-bottom: 25px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'poppins';
    font-size: 14px;
    text-align: center;
}



.btn:hover {
    background-color: salmon;
}

.icon-off {
    margin-top: 15px;
    height: 20px;
}