.small-calendar {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2%;
    margin-right: 2%;
}

.react-calendar {
    border-radius: 10px;
    border-color: #FD3903;
    border-width: 4px;
    filter: drop-shadow(10px 15px 5px #dc522c);
}