@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Alfa+Slab+One&family=Changa&family=Cutive+Mono&family=Fira+Code:wght@300&family=Megrim&family=Poppins&family=Share+Tech+Mono&display=swap');

.containerHome {
  background-image: url('../../../assets/images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.titleHome {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  font-family: 'poppins';
}

.container {
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

h2 {
  font-family: 'poppins';
  font-size: 16px;
}

.agenda {
  text-align: center;
  display: block;
  margin-top: -1%;
  padding-top: 4%;
}

.agenda--hidden {
  display: none;
}

