.calendar-container {
    border: 2px solid #F24822;
    border-radius: 15px;
    padding: 5%;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
  }
  
  .rbc-calendar {
    margin-top: 3%;
  }
  
  
  .rbc-event {
    background-color: #FFD8B4;
    border-style: solid;
    border-width: 2px;
    border-color: #F24822;
    color: #020100;
  }
  
  
  .rbc-event.rbc-selected {
    background-color: #F24822;
    border: 2px solid #F24822;
    color: white;
  }
  
  .delete-button {
    margin-right: 5px;
    width: 100px;
    margin-bottom: 100px;
    justify-self: center;
  }
  
  .cancel-button {
    margin-left: 5px;
    width: 100px;
    margin-bottom: 10px;
    justify-self: center;


  }

  /* .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }  */

  