@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Alfa+Slab+One&family=Changa&family=Cutive+Mono&family=Fira+Code:wght@300&family=Megrim&family=Poppins&family=Share+Tech+Mono&display=swap');

.content-navbarR {
    height: 60vh;
    width: 130px;
    position: fixed;
    top: 50%;
    margin-left: 7%;
    transform: translate(-50%, -50%);
    background-color: #E8550F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.logoR {
    width: 80%;
    }

.userR {
    width: 50%;
    border-radius: 60px;
    margin-bottom: 10px;
}

.buttonsR {
    display: flex;
    flex-direction: column;
}

.btnR {
    background-color: #ff7f50;
    color: #fff;
    border-radius: 5px;
    padding: 10px 6px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'poppins';
    font-size: 14px;
    text-align: center;
}



.btnR:hover {
    background-color: salmon;
}

.iconR-off {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: salmon;
}

.icon-off {
    margin-top: 15px;
    height: 20px;
    height: 20px;
    margin-bottom: 10px;
}