@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Alfa+Slab+One&family=Changa&family=Cutive+Mono&family=Fira+Code:wght@300&family=Megrim&family=Poppins&family=Share+Tech+Mono&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/login.png');
  background-size: cover;
  background-position: center;
}

.form-login {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(245, 95, 8, 0.637);
  backdrop-filter: blur(10px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-login{
font-family: 'poppins';
font-size: 20px;
color: #E8550F;
}

label[name="login"] {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  color: #E8550F;
  font-family: 'poppins';
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

input[name="login"] {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 300px;
  border: 1px solid #E8550F;
  border-radius: 20px;
  background-color: #ff7f508c;
  font-size: 16px;
  font-family: 'poppins';
}

input[name="login"]:focus {
  outline: none;
  background-color: rgba(206, 206, 206, 0.3);
}

button[type="submit"] {
  background-color: #E8550F;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'poppins';
  margin: 30px auto;
  display: flex;
}

button[type="submit"]:hover {
  background-color: #ff7f50;
}