.daily-agenda {
  background-color: blueviolet;
}

.daily-agenda li {
    margin-bottom: 5px;
    padding-left: 10px; /* agrega un padding a la izquierda del elemento li */
    position: relative; /* agrega posición relativa al elemento li */
  }
  
  .daily-agenda li:before {
    content: "•"; /* agrega el punto como contenido antes del elemento li */
    position: absolute; /* agrega posición absoluta al punto */
    left: 0; /* ajusta la posición del punto a la izquierda del elemento li */
    top: 50%; /* ajusta la posición del punto en la mitad superior del elemento li */
    transform: translateY(-50%); /* ajusta la posición vertical del punto en el centro del elemento li */
  }

 